---

- name: install grafana
  yum: name={{ grafana_rpm_url }} state=present

- name: update grafana.db by {{ delegated_host }}
  synchronize: src={{ package_dir }}/{{ item }} dest=/var/lib/grafana/{{ item }}
  with_items:
    - grafana.db
  delegate_to: "{{ delegated_host }}"
  when: delegation and inventory_hostname != delegated_host

- name: update grafana.db from local
  shell: cp {{ package_dir }}/{{ item }} /var/lib/grafana/{{ item }} && cd /var/lib/grafana && chown -R grafana:grafana {{ item }}
  when: delegation and inventory_hostname == delegated_host
  delegate_to: "{{ delegated_host }}"
  with_items:
    - grafana.db

- name: restart grafana
  systemd: name=grafana-server state=restarted