---

group: wjm
user: wjm

install_dir: /home/{{ user }}/svr
data_dir: /home/{{ user }}/data
package_dir: /home/{{ user }}/package

wjm_disk_format: False

delegation: True
delegated_host: wj-06

replace_authorized_keys: False
disable_root_login: False

common_packages:
  - vim
  - git
  - rsync
  - gcc
  - gcc-c++


# jdk
jdk_version: 8u131

# maven
maven_version: 3.5.0

# cmake
cmake_version: 3.9.0

# postgresql
db_login_username: "{{ user }}"
db_login_password: 'W1ndJ@mmer'
db_login_host: "{{ groups['postgres'][0] }}"
db_login_port: 5432


collectd_version: 5.7.2

# grafana
grafana_rpm_url: https://s3-us-west-2.amazonaws.com/grafana-releases/release/grafana-4.4.3-1.x86_64.rpm
