ZS_FLASH_SIZE={{ spark_zetascale_flash_size }}
ZS_FLASH_FILENAME={{ spark_zetascale_flash_filename }}
ZS_CACHE_SIZE={{ spark_zetascale_cache_size }}
ZS_REFORMAT=1

ZS_MAX_NUM_CONTAINERS=512
ZS_ADMIN_ENABLED=0
ZS_EXPIRY_SCAVENGER_ENABLE=0
ZS_SCAVENGER_THREADS=1
ZS_SCAVENGE_PER_OBJECTS=128

ZS_BTREE_L1CACHE_SIZE=1073741824

ZS_BTREE_MAX_NODES_PER_OBJECT=1024

ZS_ASYNC_STATS_THREADS=1
# ZS_STATS_LEVEL=0