---

- name: upload spark tar ball by {{ delegated_host }}
  synchronize: src={{ package_dir }}/{{ spark_name }}.tgz dest={{ package_dir }}
  delegate_to: "{{ delegated_host }}"
  when: delegation and inventory_hostname != delegated_host

- name: upload spark tar ball locally
  copy: src={{ package_dir }}/{{ spark_name }}.tgz dest={{ package_dir }}
  when: not delegation

- name: unarchive the spark dir
  unarchive: src={{ package_dir }}/{{ spark_name }}.tgz dest={{ install_dir }} copy=no

- name: build symlink for spark
  file: src={{ install_dir }}/{{ spark_name }} dest={{ install_dir }}/spark state=link force=yes

- name: copy dependency jars by {{ delegated_host }}
  synchronize: src={{ package_dir }}/{{ item }} dest={{ install_dir }}/spark/jars
  delegate_to: "{{ delegated_host }}"
  when: delegation and inventory_hostname != delegated_host
  with_items:
    - postgresql-9.4.1212.jar
    - spark-influx-sink-0.0.1-SNAPSHOT.jar
    - metrics-influxdb-1.1.9.jar
  tags:
    - spark-install-dependency

- name: copy dependency jars from local
  copy: src={{ package_dir }}/{{ item }} dest={{ install_dir }}/spark/jars
  when: not delegation
  with_items:
    - postgresql-9.4.1212.jar
    - spark-influx-sink-0.0.1-SNAPSHOT.jar
    - metrics-influxdb-1.1.9.jar
#    - spark-streaming-kafka-0-8-assembly_2.11-2.1.0.jar
  tags:
    - spark-install-dependency